# This workflow will take the contents of the content branches and build the production documentation site

name: Build production site

on:
  push:
    branches: [ master, 'v/*', archived-versions ]

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger build
      run: curl -X POST -d {} https://api.netlify.com/build_hooks/6001914f301e101ce206e8a0
